<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout.org">

<head>
	<meta charset="UTF-8" />
	<title>Compra e Vendas</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	<div class="panel panel-default">
		<div class="panel-heading">			
			<h1 class="panel-title"><B>Pesquisa de Título</B></h1>
		</div>
	</div>
		
		<selection layout:fragment="conteudo">
			<p>Conteudo Principal</p>
		</selection>
	
	
	<script src="/js/jquery-2.2.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>